/* Creating variables to manage color scheme theme */
:root {
    --default-font-family: 'Courier New', Courier, monospace;
    --default-background-color: rgb(70, 75, 80);
    --page-background-color: whitesmoke;
    --default-border-radius: 5px;
    --card-height: 150px;
    --debugging-border-color: none;
}

/* B E G I N    M O B I L E   F O R M A T T I N G */

/* General formatting */
*{
    font-family: var(--default-font-family); /* Default font */
}

li {
    margin-top: 5px;
}

a {
    text-decoration: none;
    font-family: var(--default-font-family);
    padding: 2px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.link-wrap{ /* <a> tags used to wrap cards and such */
    padding: 0;
    margin-top: 0;
}

a:hover {
    color: white;
    cursor: pointer;
    background-color: var(--default-background-color);
    border-radius: 3px;
}
/* End general formatting */


body { /* "body" is a container for the header, main, and footer elements */
    margin-left: 2%;
    margin-right: 2%;
    display: flex; 
    flex-flow: column nowrap; /* want to keep the header, main, and footer stacked without wrapping */
    gap: 15px; /* gap between header and main, and main and footer */
    background-color: var(--page-background-color);
}

body header{
    position: sticky;
    top: 0;
    border-bottom: solid black 1px;
    padding: 15px;
    padding-top: 20px;
    background-color: var(--page-background-color); /* keeps the sticky header from being transparent */
    z-index: 2; /* Trying to keep the header on top of the sticky section titles */
}

body header nav {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: nowrap;
    font-size: medium;
    justify-content: space-between;
}

body header h1 {
    font-size: xx-large;
    font-family: var(--default-font-family);
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

body header #large-page-title{ /* there are two title elements toggled by a media query to handle size constraints for smaller screens */
    display: none;
}

body main{ /* main is a container for the "About Me" and "My Work" sections */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60PX; /* gap between "About Me" and "My Work" sections */
    margin-left: 6%;
    margin-right: 6%;
}

body main section{
    gap: 4px; /* gap between the section header and section content */
    width: 100%;
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

body main .section-title{
    background-color: var(--default-background-color);
    border-radius: var(--default-border-radius);
    border-bottom-right-radius: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

body main .section-title h2{
    font-family: 'Arial Bold', sans-serif;
    /* 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: xx-large;
    font-stretch: ultra-expanded;
    padding: 5px;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 1px black;
}

#about-me-title{
    border: 1px solid black;
    background-image: url(../images/Headshot\ High\ Resolution.jpg);
    background-position: center;
    background-size: cover;
}

#about-me{
    background-color: white;
    border: 1px black solid;
    border-left: solid 5px black;
}

#about-me article{
    padding: 3%;
    text-align: left;
}

#about-me h3{
    font-weight: 600;
    font-size: large;
}

#about-me article ul{
    font-size: small;
    margin-left: 5%;
}

.about-me-sub {
    border: dashed black 1px;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
}

#lists {
    display: flex;
    gap: 15px;
}

#work-title{
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
}

body main section div a{ /* offsetting the general link formatting above for the project cards */
    padding: 0;
    margin: 0;
}

#projects{
    width: 100%;
    background-color: var(--page-background-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.project-card{
    margin-top: 5px; /* I am not sure why this became necessary to offset the flex gap in #projects */
    background-color: white;
    border: 2px black solid;
    border-left: none; 
    width: 100%;
    padding-bottom: 300px;
    border-radius: 5px;
}

.project-card:hover {
    background-color: var(--default-background-color);
    cursor: pointer;
    color: white;
}

.project-card h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    padding: 25px;
}

.project-card h4{
    font-size: x-large;
}

.github-link{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

footer{
    position: sticky;
    bottom: 0px;
    background: var(--page-background-color);
    border-top: solid black 1px;
    padding: 10px;
    z-index: 2;
}

footer div{ /* adding a div prevents unwanted behavior when scrolling */ 
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}

#traks{
    /* border: 1px solid black; */
    background-image: url(../images/traks\ screenshot.png);
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#traks *{
    color: white;
}

#ai-email-assistant{
    /* border: 1px solid black; */
    background-image: url(../images/ai\ assistant\ email\ exchange.png);
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#ai-email-assistant *{
    color: white;
}

#go-api-test-generator {
    background-image: url(../images/GO\ API\ Test\ Screenshot.png);
    background-size: cover;
    background-position: center;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#snodes{
    border: 1px solid black;
    background-image: url(../images/Snodes\ Screenshot.png);
    background-position: right;
    background-size: cover;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#snodes *{
    color: white;
}

#techblog{
    border: 1px solid black;
    background-image: url(../images/Tech\ Blog\ Screenshot.png);
    background-position: right;
    background-size: cover;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#techblog * {
    color: white;
}

#weather{
    border: 1px solid black;
    background-image: url(../images/Weather\ App\ Screenshot.png);
    background-position: right;
    background-size: cover;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#weather *{
    color: white;
}

#pokedex {
    border: 1px solid black;
    background-image: url(../images/Pokedex\ Screenshot.png);
    background-position: right;
    background-size: cover;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#pokedex *{
    color: white;
}

#password {
    border: 1px solid black;
    background-image: url(../images/password\ generator\ screenshot.png);
    background-position: right;
    background-size: cover;
    box-shadow:inset 0 0 300px 75px rgba(0,0,0,0.5);
}

#password *{
    color: white;
}

/* E N D   M O B I L E   F O R M A T T I N G */


/* T A B L E T   F O R M A T T I N G */
@media only screen and (min-width: 600px) {
    body header #small-page-title{ /* there are two title elements toggled by a media query to handle size constraints for smaller screens */
        display: none;
    }

    body header #large-page-title{
        display: block;
        font-size: 200%;
    }

    #large-page-title h1{
        font-size: 150%;
    }

    #projects{
        gap: 20px;
        border-left: solid 5px black;
    }

    .project-card{
        margin-top: -20px;
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    body main section{
        gap: 10px;
    }
}


/* D E S K T O P   F O R M A T T I N G */
@media only screen and (min-width: 800px) {
    body header{
        display: flex;
        flex-wrap: column wrap;
        justify-content: space-around;
        padding: 35px;
        padding-top: 50px;
    }
    
    body main section{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    
    body main .section-title{
        background-color: var(--default-background-color);
        border-radius: var(--default-border-radius);
        border-bottom-right-radius: 0;
        width: 25%;
        padding-bottom: 150px;
        font-size: 300%;
    }
    
    body header nav{
        font-size: large;
        width: 40%;
        margin: 0;
        display: flex; /* need to vertically center the nav elements to stay in line with the H1 */
        flex-flow: nowrap;
        align-items: center;
    }

    #large-page-title {
        display: block;
        flex-flow: column wrap;
        align-items: center;
    }

    .inner-title{
        margin-top: 60%;
        border-radius: 15px;
        padding: 10px;
        position: sticky;
        top: 60%;
        bottom: 20%;
        z-index: 1;
    }

    #about-me{
        width: 70%;
        padding: 0;
        margin: 0;
    }

    #projects{
        width: 70%;
        padding: 0;
        margin: 0;
    }

    footer{
        padding: 20px;
    }
}

/* Formatting for Extra Large Screen */
@media only screen and (min-width: 1200px) { 

    .section-title{
        font-size: 500%;
    }
    
    body header nav{
        font-size: x-large;
        width: 40%;
    }
}